@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/g-guarantee');
@import url('https://fonts.cdnfonts.com/css/g-grest');

.explore{
    height:90vh;
    width: 100vw;
    padding: 4% 5% 4% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
}

.info{
    display: flex;
    flex-direction: row;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 15vh;
    font-family: 'g Guarantee', sans-serif;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.in{
    display: flex;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;

}
.header{
    font-size: 2em;
    color: #9c8503;
    font-family: 'g Guarantee', sans-serif;
}
.group{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;    
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 12vw;
    font-family: 'Poppins', sans-serif;
}

.item_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    
    width: 10vw;
    font-family: 'Poppins', sans-serif;
}
.title{
    font-weight: 700;
    font-size: 1.1rem;
}


.png_1{
    background-image: url("../public/ui.png");
    height: 10vh;
    width: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10%;
}

.png_2{
    background-image: url("../public/writing.png");
    height: 10vh;
    width: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10%;
}

.png_3{
    background-image: url("../public/web.png");
    height: 10vh;
    width: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10%;
}

.png_4{
    background-image: url("../public/python.png");
    height: 10vh;
    width: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10%;
}

.png_5{
    background-image: url("../public/secure.png");
    height: 10vh;
    width: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10%;
}
