@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/g-guarantee');
@import url('https://fonts.cdnfonts.com/css/g-grest');

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    color: white;
    background: #000000;
    font-family: 'g Guarantee', sans-serif;
  }

  .hero::before{
      content: "";
      background-image: url("../public/job_board.jpg");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.05;
  }

  .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100vw;
    
  }

  .apply{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 7vw;
    min-height: 7vh;
  }

.focus{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    
}

  .primary{
    width: 60%;
    height: 60%;
    margin-left: 5%;    
    font-size: 4.5em;
    font-weight: 500;
    line-height: 1.1;
    color: #FAF5DD;
    letter-spacing: .1rem;
  
  }

  .primary span{
    font-family: 'g Grest', sans-serif;
    color: #9c8503;
    font-size: 1.2em;
  }

  .border{
    position: relative;
    width: 40%;
    height: 100%;
    overflow: clip;
  }
.circle{
  position: absolute; 
  bottom: 0%; 
  left: 0%;
  height: 150%;
  width: 200%;
  border: 120px solid #77650044;
  border-radius: 100%;
}

  .board{
    background-color: #FAF5DD;
    color: #040e0a;
    padding: .1em .1em 0 .1em;
    margin-left: .3em;
  }
  .secondary{
    color:#faf5dd88;
    font-size: larger;
    
  }
  
  .noise{
    color: red;
  }

  //background: #011d21;

  