
.job {
    position: relative;
    min-height: 100vh;
    color: black;
    background-size: contain;   
    font-family: 'Cheeronsta', sans-serif;
  }
  
  .job::before{
    content: "";
    background-image: url("../public/peakpx.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}

  .lay{  
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
  }

  .first{
    padding-top: 5vh;
    font-size: 1.2rem;
    width: 80vh;
    text-align: center;
  }